<?xml version="1.0" encoding="UTF-8"?>
<beans 
      xmlns="http://www.springframework.org/schema/beans"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	  xmlns:mvc="http://www.springframework.org/schema/mvc"
		
      xsi:schemaLocation="
	
	  http://www.springframework.org/schema/beans 
	  http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
    
      http://www.springframework.org/schema/mvc
      http://www.springframework.org/schema/mvc/spring-mvc-3.0.xsd
        
      ">
      <!-- 注册Action 
       name:请求路径 必须写
      -->
      <bean name="/hello.action" class="cn.hc.spring01.HelloAction">
   
      </bean>
      <bean name="/hello2.action" class="cn.hc.spring01.Hello2Action"> </bean>
      <!-- 映射器  org.springframework.web.servlet.handler.BeanNameUrlHandlerMapping.class
                   表示将bean标签的name属性当做Url请求
             可选
      -->
      <bean class="org.springframework.web.servlet.handler.BeanNameUrlHandlerMapping">
      	
      </bean>
        <!--适配器
		表示用于查找实现了Controller接口的Action类
		可选
        -->
      <bean class="org.springframework.web.servlet.mvc.SimpleControllerHandlerAdapter">
      	
      </bean>
        <!-- 视图解析器
               通过modelAndView中的字符串找到真正的路径
                 可选
         -->
      <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
      	<!-- 路径前缀 -->
      	<property name="prefix" value="/"></property>
      	<!-- 路径后缀 -->
      	<property name="suffix" value=".jsp"></property>
      </bean>
      
      
</beans>